nbi:
  httpVersion: 1
  useTLS: no
  fqdn: 3gpp-as-session-with-qos.local
  port: 8080

sbi:
  nrfSvc: http://nrf.net01.3gpp.eurecom.fr
  useNrf: no
  pcfSvc: http://core-simulator:8080
  httpVersion: 2

capifSvc: capif-connector:8080
supportedFeatures: 3fff # 12 for open5gs, 3fff for free5gs, 3fff for oai
qosConfig:
  qos-e:
    marBwDl: 120000
    marBwUl: 120000
    mediaType: CONTROL
  qos2:
    marBwDl: 240000
    marBwUl: 240000
    mediaType: CONTROL
  qos3:
    marBwDl: 480000
    marBwUl: 480000
    mediaType: AUDIO
  qos4:
    marBwDl: 960000
    marBwUl: 960000
    mediaType: VIDEO
